body {
    font-family: 'vazir-medium';
    direction: rtl;
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

main {
    margin-top: 110px !important;
}

@font-face {
    font-family: 'IRANSans';
    src: url('/assets/fonts/iransans/IRANSansWeb.woff2') format('woff2'),
        url('/assets/fonts/iransans/IRANSansWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vazir-thin';
    src: url('/assets/fonts/vazir/Vazir-Thin-FD-WOL.woff') format('woff'),
        url('/assets/fonts/vazir/Vazir-Thin-FD-WOL.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir-light';
    src: url('/assets/fonts/vazir/Vazir-Light-FD-WOL.woff') format('woff'),
        url('/assets/fonts/vazir/Vazir-Light-FD-WOL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir-fd';
    src: url('/assets/fonts/vazir/Vazir-FD-WOL.woff') format('woff'),
        url('/assets/fonts/vazir/Vazir-FD-WOL.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir-medium';
    src: url('/assets/fonts/vazir/Vazir-Medium-FD-WOL.woff') format('woff'),
        url('/assets/fonts/vazir/Vazir-Medium-FD-WOL.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir_bold';
    src: url('/assets/fonts/vazir/Vazir-Bold-FD-WOL.woff') format('woff'),
        url('/assets/fonts/vazir/Vazir-Bold-FD-WOL.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'shabnam';
    src: url('/assets/fonts/shabnam/Shabnam.woff') format('woff'),
        url('/assets/fonts/shabnam/Shabnam.woff2') format('woff2');
    /* font-weight: 800; */
    /* font-style: normal; */
    /* font-display: swap; */
}


/*


body {
    font-family: 'vazir', sans-serif;
    font-weight: 400; حالت نرمال
}

h1 {
    font-weight: 700; بولد
}

.light-text {
    font-weight: 300; لایت
}


*/

*,
p,
span,
a {
    font-family: 'shabnam', sans-serif !important;
    text-decoration: none !important;
}

.font-vazir-light {
    font-family: 'vazir-light', sans-serif !important;
}

.font-vazir-bold {
    font-family: 'vazir_bold', sans-serif !important;
}

header {
    background-color: #333;
    color: white;
    /* padding: 1rem; */
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

/* start menu || navbar */
.fixed-top {
    margin-top: 40px !important;
}

/* end menu || navbar */

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.news-item {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
}

.news-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* start slider */
/* استایل اسلایدر */
.slider-wrapper {
    height: 300px;
}

.carousel-inner,
.carousel-item,
.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    .slider-wrapper {
        height: 200px;
    }
}

/* دو خبر کناری */
.news-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;
}

.news-card {
    flex: 1 1 0%;
}

.slider-img {
    height: 100%;
    object-fit: cover;
}

/* end slider */


/* start style headers  */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

nav {
    background: #dc3545 !important;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .bi {
    width: 1em;
    height: 1em;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

/* end style headers  */


.topbar-mini {
    background-color: #212529;
    font-size: 0.75rem;
    direction: rtl;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    height: 40px;
    line-height: 32px;
}

.topbar-mini i {
    margin-left: 4px;
    color: #f8f9fa;
}

body {
    padding-top: 32px;
    /* جا باز می‌کنه برای نوار بالا */
}






/* start style shadow in box */
.feedback-section {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.feedback-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    padding: 1.5rem;
    transition: all 0.3s ease;
}

.feedback-box:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.user-message {
    margin-bottom: 1rem;
}

.user-message h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #007bff;
}

.user-message p {
    margin: 0.5rem 0 0;
}

.admin-response {
    background-color: #eef6f0;
    border-right: 4px solid #28a745;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 1rem;
}

.admin-response h4 {
    margin: 0;
    color: #28a745;
    font-size: 1rem;
}

.admin-response p {
    margin: 0.5rem 0 0;
}

/* end style shadow in box */


.form-search-header {
    background: #ffffff;
    border-radius: 50px;
    padding: 2px 10px;
    max-width: 350px;
}


/* start dark mode header */

[data-bs-theme="dark"] .form-search-header,
[data-bs-theme="dark"] .news-subtitle{
    background-color: #1f2125 !important;
    color: #e0e0e0 !important;
}

[data-bs-theme="dark"] nav {
    background-color: #2c2f34 !important;
    color: #e0e0e0 !important;
}

/* end dark mode header */


.page-sardabir > .justify-content-between{
padding: 3px !important;
}
